<aside class="sidebar">
  <div class="sidebar-header">
    <a href="{{ '/' | relative_url }}" class="site-title">McRogueFace</a>
  </div>

  <nav class="sidebar-nav">
    <section class="nav-section">
      <h3>Getting Started</h3>
      <ul>
        <li><a href="{{ '/quickstart' | relative_url }}">Quickstart</a></li>
        <li><a href="{{ '/about' | relative_url }}">About</a></li>
        <li><a href="{{ '/cookbook' | relative_url }}">Cookbook</a></li>
        <li><a href="{{ '/reference' | relative_url }}">Reference</a></li>
      </ul>
    </section>

    <section class="nav-section">
      <h3>Systems</h3>
      <ul>
        <li>
          <a href="{{ '/systems/scene' | relative_url }}">Scene System</a>
          <ul class="nav-objects">
            <li><a href="{{ '/objects/Window' | relative_url }}">Window</a></li>
            <li><a href="{{ '/objects/Scene' | relative_url }}">Scene</a></li>
            <li><a href="{{ '/objects/Frame' | relative_url }}">Frame</a></li>
            <li><a href="{{ '/objects/Caption' | relative_url }}">Caption</a></li>
            <li><a href="{{ '/objects/Font' | relative_url }}">Font</a></li>
            <li><a href="{{ '/objects/Sprite' | relative_url }}">Sprite</a></li>
            <li><a href="{{ '/objects/Texture' | relative_url }}">Texture</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ '/systems/grid' | relative_url }}">Grid System</a>
          <ul class="nav-objects">
            <li><a href="{{ '/objects/Grid' | relative_url }}">Grid</a></li>
            <li><a href="{{ '/objects/GridPoint' | relative_url }}">GridPoint</a></li>
            <li><a href="{{ '/objects/GridPointState' | relative_url }}">GridPointState</a></li>
            <li><a href="{{ '/objects/Entity' | relative_url }}">Entity</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ '/systems/input' | relative_url }}">Input & Callbacks</a>
          <ul class="nav-objects">
            <li><a href="{{ '/objects/Timer' | relative_url }}">Timer</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ '/systems/animation' | relative_url }}">Animation</a>
          <ul class="nav-objects">
            <li><a href="{{ '/objects/Animation' | relative_url }}">Animation</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ '/systems/procgen' | relative_url }}">Procedural Generation</a>
          <ul class="nav-objects">
            <li><a href="{{ '/objects/Perlin' | relative_url }}">Perlin</a></li>
          </ul>
        </li>
      </ul>
    </section>

    <section class="nav-section">
      <h3>Resources</h3>
      <ul>
        <li><a href="{{ '/tutorials' | relative_url }}">Tutorials</a></li>
        <li><a href="{{ '/api-reference' | relative_url }}">API Reference</a></li>
        <li><a href="https://github.com/jmccardle/McRogueFace">GitHub</a></li>
      </ul>
    </section>
  </nav>
</aside>
